html,
body {
	height: 100%;
}
.container {
	min-height: 100%;
	overflow: hidden;
}

.happy {
	background-image: url(images/happy.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* .row {
	/* padding-top: 25%;
	padding-bottom: 50%;
	margin-bottom: -50%; */
/* } */
.col-md-3 {
	padding-bottom: 100px;
}
#happybtn {
	margin-top: 100%;
	width: 50%;
}
#sadbtn {
	margin-top: 100%;
	width: 50%;
}
#angrybtn {
	margin-top: 100%;
	width: 50%;
}
#sillybtn {
	margin-top: 100%;
	width: 50%;
}
#festivebtn {
	margin-top: 100%;
	width: 60%;
	overflow: hidden;
}
.sad {
	background-image: url(images/saddanboResize.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.angry {
	background-image: url(images/angry.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.silly {
	background-image: url(images/silly.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.festive {
	background-image: url(images/festive.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.flex-container {
	display: flex;
}

#gifs-appear-here {
	margin: 20px;
}

#movies-view {
	margin: 20px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}
