html,
body {
	height: 100%;
}
.backgroundDefault {
	background-color: #232838;
}
.white {
	background-color: transparent;
}
.jumbotron {
	background-color: rgba(0, 0, 0, 0);
}
.jumbotron1,
.lead1 {
	color: #ebebeb;
}
.container {
	min-height: 100%;
	overflow: hidden;
}

.happy {
	background-image: url(images/happy.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}
/* .row {
	/* padding-top: 28%;
	padding-bottom: 50%;
	margin-bottom: -50%; */
/* } */
.moods {
	padding-bottom: 400px;
}
#happybtn {
	margin-top: 70%;
	width: 170px;
}
#sadbtn {
	margin-top: 70%;
	width: 170px;
}
#angrybtn {
	margin-top: 70%;
	width: 170px;
}
#sillybtn {
	margin-top: 70%;
	width: 170px;
}
#festivebtn {
	margin-top: 70%;
	width: 170px;
}
.sad {
	background-image: url(images/saddanboResize.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}

.angry {
	background-image: url(images/angry.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}

.silly {
	background-image: url(images/silly.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}

.festive {
	background-image: url(images/festive.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}
.flex-container {
	display: flex;
}

#gifs-appear-here {
	margin: 20px;
}

#movies-view {
	margin: 20px;
}

.movie {
	/* width: 325px; */
}

.songDiv {
	/* width: 325px; */
	padding-top: 20px;
}

.col-xs-5ths,
.col-sm-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}
#tryagain {
	color: white;
}

@media screen and (max-width: 1000px) {
	#happy {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#sad {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#angry {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#silly {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#festive {
		width: 200px;
		padding: 0;
		margin: 0;
	}
	#happybtn {
		margin-top: 300px;
	}
	#sadbtn {
		margin-top: 300px;
	}
	#angrybtn {
		margin-top: 300px;
	}
	#sillybtn {
		margin-top: 300px;
	}
	#festivebtn {
		margin-top: 300px;
	}
	.moods,
	.buttons {
		padding: 20px 0 0px 0;
		margin: 0 0 0 0;
		width: 100vw !important;
		height: 700px;
	}
	.body {
		overflow: visible !important;
	}
}
@media screen and (max-width: 700px) {
	#happy {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#sad {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#angry {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#silly {
		width: 200px;
		padding-bottom: 400 !important;
		margin: 0;
	}
	#festive {
		width: 200px;
		padding: 0;
		margin: 0;
	}
	#happybtn {
		margin-top: 300px;
	}
	#sadbtn {
		margin-top: 300px;
	}
	#angrybtn {
		margin-top: 300px;
	}
	#sillybtn {
		margin-top: 300px;
	}
	#festivebtn {
		margin-top: 300px;
	}
	.moods,
	.buttons {
		padding: 20px 0 0px 0;
		margin: 0 0 0 0;
		width: 100vw !important;
		height: 500px;
	}
	.body {
		overflow: visible !important;
		background-color: #232838;
	}
	.movies-view {
		width: 100vw !important;
	}
	.songs-view {
		width: 100vw !important;
	}
}
